<% include ./partials/header.ejs %>
<div class="ui main text container segment">
   <div class="ui huge header"><%= myblog.title %></div>
   <div class="ui top attached">
      <div class="item">
         <img class="ui centered rounded corner image" src="<%= myblog.image%>">
         <div class="content">
            <span>Created on: <em><%=myblog.created.toDateString()%></em></span>
          </div>
          <div class="description">
             <p><%= myblog.body%></p>
          </div>
          <hr>
          <a class="ui green basic button"href="/myblogs/<%= myblog._id %>">Edit</a>
         <form id="delete" action="/myblogs/<%= myblog._id%>?_method=DELETE" method="POST">
            <button class="ui red basic button">Delete</button>
            
         </form>
      </div>
      
   </div>
   
</div>
<% include ./partials/footer.ejs %>